.bg_img{
    background: url('../../assets/images/bgImg2.jpg');
    height: 100vh;
}

.login{   
    /*background: rgb(0, 0, 0);*/ /* Fallback color */
  background: rgba(0, 0, 0, 0.1); /* Black background with 0.5 opacity */
    width: 50%;
    height: auto;
    position:absolute;
    margin: 15% 15%;
    border: 1px solid;
    border-radius: 32px;
    padding-left: 32px;
    padding-top: 50px;
    box-shadow: 5px 6px dodgerblue;
}
.link-btn{
    color:rgb(35, 18, 182);
}

input.ng-invalid.ng-touched{
    border:2px solid red;
}
span{
    color:#B33A3A;

}