.bg_img{
    background: url('../../assets/images/bgImg2.jpg');
    height: 100vh;
    /* overflow: hidden; */
}

.signup{   
   /* background: rgb(0, 0, 0);*/ /* Fallback color */
    background: rgba(0, 0, 0, 0.1);
    width: 65%;
    height: auto;
    position:absolute;
    border: 1px solid;
    border-radius: 32px;
    padding-left: 5%;
    padding-top: 50px;
    box-shadow: 5px 6px dodgerblue;
    margin: 4% 9%;
}
.termAndCondition{
    color:dimgrey;
}

h2{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 4%;
    padding-left: 8%;
    font-weight: bolder;
}
span{
    color: #be4b49;
}

input.checkbox{
    color:#be4b49;
}
